body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background: black !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.default-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  margin: 5px;
  text-shadow: 1px 1px grey;
  box-shadow: 1px 1px grey;
}

::placeholder {
  color: white;
}

.navbar {
  background: transparent !important;
  height: 80px !important;
}

.homepage-container {
  margin-top: -80px;
  padding-top: 80px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: transparent;
}

.homepage-top {
  width: 100%;
  margin: 5% 4% 10% 4%;
}

.homepage-boxes {
  width: 50%;
  padding: 25% 0;
  text-align: center;
  background: rgb(30, 30, 30);
}

.footer {
  margin: auto;
  text-align: center;
  font-size: 10px;
}

.callback-container {
  margin-top: -80px;
  padding-top: 180px;
  background-image: url(callbackpage.png);
  background-position: center;
  height: 100vh;
}

.bubbles{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

.homepage-top img {
  float: left;
  padding-right: 40px;
}

.homepage-text {
  margin: 40px;
}

.text-box {
  background: transparent;
  border-width: 0 0 2px;
  border-color: white;
  outline: none;
  color: white;
  font-size: 20px;
}

.color-picker {
  background: transparent;
  border: none;
  appearance: none;
  width: 40px;
  height: 40px;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: 3px solid rgba(26, 25, 25, 0.2);
}

.login-container {
  margin-top: -80px;
  padding-top: 180px;
  background-image: url(loginpage.png);
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-container h1{
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}

.login-input{
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(26, 25, 25, 0.2));
  height: 100px;
  width: 500px;
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
  border-radius: 20px;
}

.signup-container {
  margin-top: -80px;
  padding-top: 120px;
  background-image: url(signuppage.png);
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.signup-container h1{
  letter-spacing: 5px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
}

.signup-input{
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(26, 25, 25, 0.2));
  backdrop-filter: blur(5px);
  height: 75px;
  width: 500px;
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  text-shadow: 2px 2px grey;
  border-radius: 20px;
}

.daily-lyric-page-container {
  display: flex;
  margin-top: -80px;
  justify-content: center;
  flex-wrap: wrap;
  background-position: center;
  height: 100vh;
  text-shadow: 1px 1px grey;
}

/* .daily-lyric {
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards;
} */

/* .daily-lyric-delay {
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
} */

/* .daily-lyric-delay-2 {
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.random-background-1 {
  background-image: url(dailylyricpage1.png);
}
.random-background-2 {
  background-image: url(dailylyricpage2.png);
}
.random-background-3 {
  background-image: url(dailylyricpage3.png);
}
.random-background-4 {
  background-image: url(dailylyricpage4.png);
}

.daily-lyric-container {
  padding-top: 150px;
  width: 700px;
  margin: 0 100px;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
}

.radio-toolbar {
  padding: 5px;
}

.radio-toolbar input[type="radio"]:checked + label {
  border: 5px solid rgba(26, 25, 25, 0.2) !important;
}

.daily-lyric-responses {
  padding-top: 80px;
  width: 400px;
  margin: 80px 100px;
  overflow-y: scroll;
  /* opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 1.2s;
  animation-fill-mode: forwards; */
}

.responses {
  font-size: 15px;
}

.response-input{
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(26, 25, 25, 0.2));
  backdrop-filter: blur(5px);
  height: 50px;
  width: 200px;
  margin: 20px;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
}

.music-recommendations-page {
  margin-top: -80px;
  padding-top: 80px;
  background-image: url(musicrecommendationpage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 200vh;
  height: 100vh;
}

.recommended-track-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recommended-track {
  /* opacity: 0;
  animation: fadeIn 1s ease;
  animation-fill-mode: forwards; */
  width: 600px;
  overflow: hidden;
  font-size: 15px;
  text-align: left;
  padding: 0 20px;
}

/* .playlists-title {
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
} */

.playlists-container {
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 50px;
  height: 48vh;
  width: 80vw;
  overflow-y: scroll;
  opacity: 0;
  background: linear-gradient(rgba(45, 44, 44, 0.4), rgba(49, 47, 47, 0.4));
  border-radius: 5px;
  /* animation: fadeIn 1s ease;
  animation-delay: 0.7s;
  animation-fill-mode: forwards; */
}

.playlist {
  margin: 40px 10px;
  width: 350px;
  height: 300px;
  overflow-y: scroll;
  text-align: left;
  padding: 10px 50px 20px;
  background: rgba(77, 76, 76, 0.3);
  backdrop-filter: blur(2.5px);
  border-radius: 20px;
  border: 3px solid rgb(94, 65, 86);
}

.musicplayer {
  margin: 0 100px;
}

.user-profile-container {
  margin-top: -80px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-details {
  margin: 15px;
  width: 500px;
  height: 595px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: rgba(133, 132, 132, 0.5);
  border: 1px solid rgb(187, 177, 177);
}

.user-details img {
  margin-top: -50px;
  border: 1px solid rgb(187, 177, 177);
}

.user-details-header {
  height: 100px;
  background: rgb(32, 32, 32);
  border-bottom: 1px solid rgb(187, 177, 177);
  border-radius: 20px 20px 0 0;
}

.profile-description {
  height: 100px;
  overflow-y: scroll;
  padding: 20px;
}

.profile-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  height: 50px;
}

.user-recent{
  width: 700px;
  height: 290px;
  margin: 15px;
 border-radius: 20px;
 backdrop-filter: blur(5px);
 background: rgba(133, 132, 132, 0.5);
 border: 1px solid rgb(187, 177, 177);
}

.user-recent-header {
  height: 40px;
  padding: 5px;
  background: rgb(32, 32, 32);
  border-bottom: 1px solid rgb(187, 177, 177);
  border-radius: 20px 20px 0 0;
}

.user-recent-body {
  height: 235px;
  overflow-y: scroll;
}

.follows {
  height: 200px;
  overflow-y: scroll;
}

.other-details {
  margin: 20px 0 50px 50px;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: rgba(133, 132, 132, 0.5);
  border: 1px solid rgb(187, 177, 177);
}

.other-details img {
  margin-top: -50px;
  border: 1px solid rgb(187, 177, 177);
}

.other-details-header {
  height: 100px;
  background: rgb(32, 32, 32);
  border-bottom: 1px solid rgb(187, 177, 177);
  border-radius: 20px 20px 0 0;
}

.other-description {
  height: 130px;
  overflow-y: scroll;
  padding: 20px;
}

.other-music-container {
  margin: 20px 0 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: rgba(55, 54, 54, 0.9);
  border: 1px solid rgb(187, 177, 177);
}

.other-music-header {
  width: 800px;
  height: 120px;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid rgb(187, 177, 177);
  background: rgba(40, 40, 39);
}

.other-music-body {
  width: 800px;
  height: 365px;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll;
  border-radius: 0 0 20px 20px;

}

.other-playlist {
  width: 350px;
  height: 180px;
  padding-top: 10px;
  overflow-y: scroll;
  border: 1px solid rgb(37, 35, 35);
  background: linear-gradient(rgba(150, 144, 144, 0.3), rgba(152, 146, 146, 0.3));
  border-radius: 5px;
  margin: 10px;
  border-radius: 10px;
}

.explore-page-container {
  background-image: url(explorejournalpage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -80px;
  padding-top: 80px;
  background-position: center;
  height: 100vh;
}

.journal-entries-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 72vh;
  overflow-y: scroll;
  background: linear-gradient(rgba(26, 25, 25, 0.1), rgba(26, 25, 25, 0.1));
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

.journal-entry {
  background-image: url(grid.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 110vh;
  background-position: 70% 20%;
  padding-top: 10px;
  border-radius: 5px;
  margin: 30px;
  height: 298px;
  width: 400px;
  box-shadow: 5px 5px 1px 1px rgba(115, 121, 113, 0.9);
}

.journal-entry-body {
  padding: 15px;
  height: 250px;
  border-radius: 0 0 5px 5px;
  background: white;
  color: grey;
  overflow-wrap: break-word;
}

.journal-entry-body button {
  border: none;
  background: transparent;
}

.journal-entry h5 {
  font-weight: bolder;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 25px;
  text-shadow: 2px 2px rgba(133, 140, 131, 0.9);
}

.journal-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url(explorejournalpage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: -80px;
  padding-top: 80px;
  height: 100vh;
  background-position: center;
}

.profile-section {
  background-image: url(grid.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 110vh;
  margin: 60px;
  padding-top: 10px;
  width: 350px;
  height: 500px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px rgba(115, 121, 113, 0.9);
  overflow-wrap: break-word;
}

.profile-body {
  background: white;
  height: 408px;
  margin-top: -50px;
  padding: 60px 10px 10px 10px;
  border-radius: 0 0 20px 20px;
  color: grey;
  overflow-wrap: break-word;
}

.profile-section img {
  position: relative;
  top: 10px;
  background: white;
  border: 3px solid rgba(190, 204, 186, 0.9);
}

.scotch-tape {
  transform: rotate(1.5deg);
  margin: 5px;
  padding: 5px;
  border: none;
  width: 170px;
  background: transparent;
  background-image: url(scotchtape.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgb(106, 90, 67);
}

.scotch-tape2 {
  transform: rotate(-1.5deg);
  margin: 5px;
  padding: 5px;
  border: none;
  width: 170px;
  background: transparent;
  background-image: url(scotchtape.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  color: rgb(106, 90, 67);
}

.journal-page h3{
  font-weight: bolder;
  font-variant: small-caps;
}

.journal-page {
  background-image: url(grid.png);
  background-position: center;
  background-repeat: repeat;
  padding-top: 50px;
  width: 60%;
  margin: 60px auto;
  text-align: left;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px rgba(115, 121, 113, 0.9);
}

.emoji-button{
  border: none;
  background: transparent;
  width: 60%;
}

.journal-body {
  background: white;
  color: grey;
  padding: 50px;
  height: 500px;
  border-radius: 0 0 20px 20px;
  overflow-wrap: break-word;
}

.forum-post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.forum-profile {
  width: 200px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(173, 171, 171, 0.7), rgba(164, 162, 162, 0.7));
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 20px;
  text-shadow: 1px 1px grey;
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.forum-profile img{
  position: relative;
  top: -35px;
}

.profile-header {
  background-image: url(grid2.png);
  height: 80px;
  border-radius: 20px 20px 0 0;
  border: 1px solid white;
}

.forum-post {
  width: 600px;
  height: 200px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(173, 171, 171, 0.7), rgba(164, 162, 162, 0.7));
  border-radius: 20px;
  border: 1px solid white;
  margin: 10px;
  border-radius: 20px;
  text-shadow: 1px 1px grey;
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.forum-title {
  width: 598px;
  background-image: url(grid2.png);
  padding: 5px;
  border-radius: 20px 20px 0 0;
  border: 1px solid white;
  text-shadow: 2px 2px grey;
}

.posts-container {
  margin-top: -80px;
  padding-top: 80px;
  background-image: url(forumposts.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 100rem;
  background-attachment: fixed;
  height: 100vh;
}

.post-container {
  margin-top: -80px;
  padding-top: 80px;
  text-shadow: 1px 1px grey;
  background-image: url(forumposts.png);
  background-position: center;
  background-repeat: repeat;
  background-size: 100rem;
  background-attachment: fixed;
}

.posts-overflow {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  height: 74vh;
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(26, 25, 25, 0.2));
  border-radius: 5px;
  overflow-y: scroll;
}

.posts-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-page {
  margin: 30px;
  text-align: left;
  width: 700px;
  height: 350px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(173, 171, 171, 0.8), rgba(164, 162, 162, 0.8));
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.posts-title {
  width: 698px;
  padding: 20px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  background-image: url(grid2.png);
  border: 1px solid white;
  text-shadow: 1px 1px grey;
}

.posts-page-body {
  height: 230px;
  padding: 20px;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.posts-profile-section {
  margin: 30px;
  width: 300px;
  height: 350px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(173, 171, 171, 0.8), rgba(164, 162, 162, 0.8));
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.posts-profile-section img {
  position: relative;
  top: 40px;
  border: 1px solid white;
}

.posts-profile-header {
  width: 298px;
  height: 80px;
  border-radius: 20px 20px 0 0;
  background-image: url(grid2.png);
  border: 1px solid white;
}

.posts-profile-body {
  overflow-wrap: break-word;
  padding-top: 50px;
}

.comment-container {
  height: 55vh;
  margin: 0 auto;
  width: 80vw;
  background: linear-gradient(rgba(26, 25, 25, 0.1), rgba(26, 25, 25, 0.1));
  border-radius: 5px;
  overflow-y: scroll;
}

.reply-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 200px;
  width: 750px;
  border-radius: 20px;
  border-radius: 20px;
  margin: 20px auto;
}

.reply-profile-section {
  width: 135px;
  border: 1px solid white;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(201, 195, 195, 0.7), rgba(196, 192, 192, 0.7));  
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.reply-profile-header {
  height: 89px;
  background-image: url(grid2.png);
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid white;
}

.reply-container img {
  position: relative;
  border: 1px solid white;
  top: 50px;
}

.reply-section {
  width: 555px;
  height: 200px;
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  background: linear-gradient(rgba(173, 171, 171, 0.8), rgba(164, 162, 162, 0.8));
  border: 1px solid white;
  box-shadow: 5px 5px 1px 1px rgba(75, 100, 68, 0.9);
}

.comment-section {
  padding: 20px;
  height: 80px;
  text-align: left;
  overflow-y: scroll;
}

.new-journal-entry {
  background-image: url(newjournalpage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200vh;
  margin-top: -80px;
  padding-top: 80px;
  height: 100vh;
  text-shadow: 1px 1px grey;
}

.textarea-box {
  background: linear-gradient(rgba(26, 25, 25, 0.2), rgba(26, 25, 25, 0.2));
  backdrop-filter: blur(2.5px);
  color: white;
}

.user-settings-container {
  margin-top: -80px;
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-settings-menu {
  width: 200px;
  cursor: pointer;
}

.user-settings {
  width: 500px;
  text-align: left;
  height: 70vh;
  overflow-y: scroll;
}

[type="checkbox"] {
  accent-color: #9d3039;
}

a:hover {
  color: rgb(229, 206, 123) !important;
}

.icon {
  transition: transform 0.2s;
}

.icon:hover {
 transform: scale(1.2);
}

.icon:active {
  opacity: 50%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: white;  
  border-radius: 20px;
}

.playlist::-webkit-scrollbar {
  width: 5px;
}

.playlist::-webkit-scrollbar-track {
  background: transparent;
}

.playlist::-webkit-scrollbar-thumb {
  background-color: rgb(165, 119, 151);  
  border-radius: 20px;
}

.journal::-webkit-scrollbar {
  width: 5px;
}

.journal::-webkit-scrollbar-track {
  background: transparent;
}

.journal::-webkit-scrollbar-thumb {
  background-color: grey;  
  border-radius: 20px;
}